# Notebook 1 - Python Foundations: 
I. Jupyter Notebook introduction  
II. Syntax, variables, data types  
III. Lists, dictionaries, sets, tuples

# I. Jupyter Notebook Introduction 

While the fastest way to start writing commands in the Python programming language is through your **terminal** (*an interface for interacting directly with your computer*), the terminal...is not exactly "user friendly": editing anything you've written requires navigating with your keyboard arrows character by character, and running different programs at the same time requires opening a new shell. Good luck keeping track of all the floating windows! üòÖ

<img src="../../assets/screenshot_shells.png" alt="Screenshot of shells" width="400"/>
ü´£

Moving forward, we'll be using Jupyter Notebook to interact with our computers through Python. Jupyter Notebook is a web-based Interactive Development Environemnt (IDE)-- this means you can write, run, and organize code in a notebook form, all from your browser rather than a terminal shell. 

ü™Ñ And this -- this document that you are reading right now -- is a Jupyter Notebook. ‚ú®

## Cells

The big bar that you see below this text is called a "cell".

There are two types of cells: **Code** and **Markdown**.  
The bar above, preceded by the brackets (**[ ]:**), is a Code cell. This is where you will type your executable scripts.  

The one below, without the brackets, is a Markdown cell.

Markdown is a syntax that can be added to text to specify how that text should be formatted. 

‚û°Ô∏è Go ahead and double click on the text below to see the formatting syntax!  
(Then "Shift" and "Return" at the same time to escape the markdown view.)

# Heading 1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5  
  
  
(Ordered list)
1. list item 1
2. list item 2  
  
  
(Unordered list)
- list item
- list item  
  
  
Nest your lists
1. First level
    1. Note how a nested "1." becomes "A."
    2. Note how a nested "2." becomes "B."
        - Third level, unordered item  
  
  
Block Quote  
(‚ö†Ô∏è To create the second line, you might need to include two spaces after 'quote', at the end of the first line!)
> This is the first line of the block quote.  
> This is the second line, still part of the same quote.
>
> This is a new paragraph within the block quote.  
    
  
And other basic formatting options
- **Bold**
- _italics_
- ~STRIKETHROUGH~
- `In-line code`


Code block (when you want to show multi-line code, but not execute it):
```
# This is a comment. 
x = 4
y = 6
z = x + y
```

Line breaks are also supported (just three dashes):

---

Text beneath the line break: ¬°Adelante!

# II. Syntax, Variables, Data Types

## A. Syntax

Think of **Python syntax** as the *grammar* of the programming language. It describes:

* where things must go
* what symbols you must use
* how Python knows what you mean

If you break the rules ‚Üí **syntax error** üò¨

Syntax matters because every program you write has to do three things:

1. **Read input** ‚Äî Python needs to understand what you typed.
2. **Process** ‚Äî it follows your instructions to figure out what to do.
3. **Write output** ‚Äî it produces the result you asked for.

**TL;DR:** It's not enough to know the right *words* ‚Äî they have to be in the right *order* and the right *structure*. That structure is syntax, which includes things like indentation, colons, parentheses, and even cAsE sEnSiTiViTy.

And because the ‚Äúright place‚Äù often depends on the *type* of thing you‚Äôre writing (a variable, a function, a loop, etc.), we‚Äôll point out important syntax rules as we go.

Next up: **variables and data types**. üéâ

## B. Variables and Data Types

Quick overview: 
- String
- Integer
- Floating-Point Number
- Boolean

Let's jump right in to some mini-programs!

In [8]:
# Variable and type demo 1
a = 'Hello World'
print(a)
print(type(a))

Hello World
<class 'str'>

Here, we have a **variable** called `a`.   
When we write that it is "equal to 'Hello World'", we are telling the program to *store* something using `a`.   
*Variables* are what we use to store something.  

- `print()` is a function: a reusable block of code that performs a specific task. Whatever is between the parentheses `()` of a function is called an **argument**. (Parentheses! Syntax! üëÄ)

- `print(a)` is an instruction to output the value *assigned* to `a`. 
- `print(type(a))` asks for the *type* of data that this *assigned value* has. 

What `<class 'str'>` tells us is that `'Hello World'` is a **string**: the Python type used to store and manipulate **text**.  
- Whenever you place values between single quotes, it becomes a string value. (Single quotes! Syntax! üëÄ)

In [26]:
# example: 
var = 'This is a string.'
print(var)

This is a string.

üö® If you want to use an apostrophe/single quote INSIDE your string, replace the outside single quotes with double.

In [14]:
# example: 
var = "Couldn't this also be a string?"
print(var)
print(type(var))

Couldn't this also be a string?
<class 'str'>

#### Try assigning a variable a string value below!

In [13]:
# your turn: 


# leave this for the end to double check--make sure to pass your variable's name into the argument, 
# and just remove the hashtag symbol in front of the line!
# ‚¨áÔ∏è

#print(type(your_variable))

In [9]:
# Variable and type demo 2
b = 42
print(b)
print(type(b))

42
<class 'int'>

Here, we have assigned to variable `b` an **integer** data type.  
An **integer** is numeric data without a decimal point (ex: 1, 2, 3, etc.)

In [15]:
# Variable and type demo 3
c = 3.14
print(c)
print(type(c))

3.14
<class 'float'>

Variable `c` has been assigned a **floating-point number** value, i.e. numeric data *with* a decimal point. 

Now what happens if you want to find the sum of b and c? Go ahead and type `b+c` in the code cell below, then `Shift` and `Enter` at the same time.

The output should return `45.14`...and the input query was much easier to type out than `42 + 3.14`, right?   
üí° Just a small glimpse into why *variable assignment* is useful: the use of values in subsequent computations.

However, what do you think would happen if you had asked for the output of `print('42 + 3.14')`? Try it out below.

In [23]:
# Next, try executing the code below. Remove the hashtag in front. 
#‚¨áÔ∏è

#print(type('42 + 3.14'))

As you most likely suspected: though there are numbers, placed within single quotes, the data type is not a **string**. 

One more variable demo, and you'll know four of the most prevalent data types in Python! üí™

In [25]:
# Variable and type demo 4
d = True
print(d)
print(type(d))

True
<class 'bool'>

**Boolean** refers to data used to represent the truthfulness of a condition or statement. It can only take one of two values: True and False. By the way, these are case-sensitive! (Syntax!‚ö°Ô∏è)  

ü§î But why on earth would you want a data type that can only have two different values?  

Unlike integers and floating-point numbers, you don't use booleans to perform operations; instead, they are the *results of an operation* that can activate (or prevent) subsequent decisions by the program.  

We'll come back to booleans and decision-making in the section on conditionals!

# III. Lists, Tuples, Sets, and Dictionaries

In Python, sometimes a single variable isn‚Äôt enough. What if you want to store **multiple values together**?

That‚Äôs where **collections** come in. Python has four main types:

* **List**
* **Tuple**
* **Set** 
* **Dictionary**

**Collections let us store and manipulate groups of data efficiently.**

---

## **1Ô∏è‚É£ Lists**
A lists is an ordered, changeable collection of items (duplicates allowed).
Think of a list like a **shopping list**: the order matters, and you can add/remove items as you go.

In [27]:
# List example
fruits = ['apple', 'banana', 'orange', 'apple']
print(fruits)
print(type(fruits))

['apple', 'banana', 'orange', 'apple']
<class 'list'>

- `fruits` is a list.
- Lists are ordered, so the first item is 'apple', the second is 'banana', etc.
- Lists are mutable ‚Äî you can change them after creation:

In [29]:
fruits.append('grape')  # add an item
print(fruits)

['apple', 'blueberry', 'orange', 'apple', 'grape', 'grape']

In [31]:
fruits[1] = 'blueberry'  # change the SECOND item (indexing the list begins with zero; fruits[0] is the first item)
print(fruits)

['apple', 'blueberry', 'orange', 'apple', 'grape', 'grape']

#### Your turn!
1) Create a list of your top 5 favorite foods, then:
2) Print the whole list
3) Print the second item
4) Add a new item

In [38]:
# 1. ex: foods = ['almonds, chocolate...'] 

# 3. ex: print(foods[?])

# 4. ex: foods.append(...))
# üö® BUT to see the output of the new addition, don't forget to print afterwards! (Step 2 again)

## **2Ô∏è‚É£ Tuples**

A tuple is an ordered, unchangeable collection of items (duplicates allowed).
Tuples are like **lists you can‚Äôt change**. Think of coordinates on a map `(latitude, longitude)` ‚Äî once you set them, they don‚Äôt move.

The key for letting the program know you're assigning a variable multiple items as a tuple vs. a list is...use parentheses `()` instead of brackets`[]`-- brackets are for lists!

In [39]:
# Tuple example
coordinates = (40.7128, -74.0060)
print(coordinates)
print(type(coordinates))

(40.7128, -74.006)
<class 'tuple'>

* Tuples are **ordered** (you can access by index)
* Tuples are **immutable** ‚Äî you cannot change their items:

```
coordinates[0] = 41  # ‚ùå This attempt to change the first item would would raise an error!
```
üí° Tip: use tuples when you want **data to stay fixed**.

Note: Tuples **and** lists can take mixed types (integers, strings, etc.)

In [46]:
# ex: 
date = (2025, "09", 23)
print(date)
print(type(date))

(2025, '09', 23)
<class 'tuple'>

#### Your turn! Print a tuple for your birthday (year, month, day)! 
Make sure if you write out the month to make it a string! Also...if you want to keep the '0' before a single digit month or day.

In [ ]:
# Birthday tuple

## **3Ô∏è‚É£ Sets**
A set is an unordered, changeable collection of **unique** items ‚Äî duplicates are automatically removed. 
Order doesn‚Äôt matter.

In [47]:
# Set example
numbers = {1, 2, 3, 2, 3, 4}
print(numbers)
print(type(numbers))

{1, 2, 3, 4}
<class 'set'>

* Notice that repeated numbers disappeared? That‚Äôs because sets **only store unique values**.
* Items for lists must be enclosed in `()`; for tuples, in `[]`... and for sets, in `{}`.
* Sets are **mutable**, so you can add items:

In [48]:
numbers.add(5)
print(numbers)

{1, 2, 3, 4, 5}

Remember: when adding an item to a **list**, instead of a **set**, we use the method `.append` rather than `.add`!  
(*A method is a function **that belongs** to a specific data type or object*)

#### **Your turn:** Convert this list into a set to remove duplicates: `[1,1,2,3,3,4,4,5]`

In [ ]:
# your code here

## **4Ô∏è‚É£ Dictionaries**

Dictionaries store data in **key-value pairs**.  
You can think of a dictionary like a **contact book**: `"Alice" ‚Üí 555-1234`.

In [49]:
# Dictionary example
student = {
    "name": "Maria",
    "age": 25,
    "grades": [88, 92, 79]
}
print(student)
print(type(student))

{'name': 'Maria', 'age': 25, 'grades': [88, 92, 79]}
<class 'dict'>

Then, you can access specific values using the **keys** (the first part of the item-pair)

In [51]:
# example
print(student["grades"])

[88, 92, 79]

‚ö†Ô∏è Syntax gets a little trickier with dictionaries. Notice in the above example that:

- A dictionary is assigned using curly braces `{}`, just like sets ‚Äî but inside you store key‚Äìvalue pairs separated by colons.  
- Keys must follow the syntax rules of their data type (for example, string keys like `"name"` must be inside quotes).  
- When accessing values, you use indexing syntax, just like when accessing an item in a list. So use square brackets `[]` with the key inside.

#### Your turn: Try accessing the student's name!

In [ ]:
# your code here

It's easy to add a new **key-value pair**:

In [53]:
# example
student["major"] = "Data Analytics"
print(student)

{'name': 'Maria', 'age': 25, 'grades': [88, 92, 79], 'major': 'Data Analytics'}

Finally, while dictionary values can be anything, and include duplicates, the **keys** (first part of the item-pair) must be unique.  
Imagine the confusion if you had the same label on multiple boxes!

In [54]:
my_dict = {"name": "Alex", "name": "Sam"}
print(my_dict)

{'name': 'Sam'}

Notice that the later key-value pair overrides the first. 

#### Your turn:
Create a dictionary for a book with these keys: "title", "author", "year" and fill in some values.   
Print the dictionary and one value using its key. üí™

In [ ]:
# your code here